<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <section class="display">
      <h1>Thermostat</h1>
      <input id='city' type='text' placeholder="city name">
      <button id='submit'>Submit</button>
      <p id='weather'></p>
      <h1 id="temperature"></h1>
      <h4 id="psm"></h4>
      <form action='/temperature' method='post'>
        <button class="icon icon-up" id="up" name='temp'></button>
        <button class="icon icon-down"id="down" name='temp'></button>
        <button id="reset" name='temp'>reset</button>
        <button id="switchpowersaving">PSM</button>
      </form>
    </section>
    <script src="jquery.js"></script>
    <script src="thermostat.js"></script>
    <script src="interface.js"></script>
    <script src="weatherAPI.js"></script>
  </body>
</html>
